<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digit Predictor!</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <script defer src="../static/scripts/canvas.js"></script>
</head>
<body>
    <h1>Draw a digit!</h1>
    <canvas width="280" height="280"></canvas>
    <ul>
        <li>
            <button onclick="clearCanvas()">Clear</button>
        </li>
        <li>
            <button onclick="submitDrawing()">Submit</button>
        </li>
    </ul>
    <aside>
        <span>Predictions</span>
        <table>
            <thead>
                <tr>
                    <th>Number</th>
                    <th>% Certainty</th>
                </tr>
            </thead>
            <tbody>
                <tr id="row1">
                    <td>1</td>
                    <td id="percentage1">N/A</td>
                </tr>
                <tr id="row2">
                    <td>2</td>
                    <td id="percentage2">N/A</td>
                </tr>
                <tr id="row3">
                    <td>3</td>
                    <td id="percentage3">N/A</td>
                </tr>
                <tr id="row4">
                    <td>4</td>
                    <td id="percentage4">N/A</td>
                </tr>
                <tr id="row5">
                    <td>5</td>
                    <td id="percentage5">N/A</td>
                </tr>
            </tbody>
        </table>
    </aside>   
</body>
</html>