<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digit Predictor!</title>
    <link rel="stylesheet" href="../styles/style.css">
    <script defer src="../scripts/canvas.js"></script>
</head>
<body>
    <h1>Write a digit!</h1>
    <canvas width="280" height="280"></canvas>
    <ul>
        <li>
            <button onclick="clearCanvas()">Clear</button>
        </li>
        <li>
            <button onclick="submitDrawing()">Submit</button>
        </li>
    </ul>
</body>
</html>