@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

:root {
    --off-white: #c2bba8;
    --off-black: #090c12;
}

body {
    height: 100%;
    overflow: hidden;
    background-color: var(--off-white); 
    color: var(--off-black);
    font-family: "Poppins", sans-serif;
    display: grid;
    grid-template-areas: 
    "main   pred"
    "footer footer";
    transition: all 1s ease;
    align-items: center;
}

section:first-of-type {
    grid-area: main;
    display: grid;
    grid-template-areas: 
    "head    head   "
    "canvas  canvas "
    "canvasbtn  canvasbtn "
    "modelbtn   modelbtn";
    grid-template-rows: 5em 300px 4em;
    grid-template-columns: 1fr 1fr;
    transition: all 1s ease;
    align-items: center;
    justify-self: end;
    align-self: end;
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
    grid-area: head;
    text-align: center;
    margin: 1.5em 1em 1em 1em;
}

canvas {
    border: solid var(--off-black) 0.1em;
    grid-area: canvas;
    height: 280px;
    width: 280px;
    justify-self: center;
}

header {
    position: absolute;
    font-size: 2.5em;
    padding: 1em;
}

footer {
    grid-area: footer;
    padding: 2em;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------- Button styles ------------- */

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 1em;
}

ul:first-of-type {
    grid-area: canvasbtn;
}
ul:last-of-type {
    grid-area: modelbtn;
}

button {
    background: 0 0;
    border: 0.1em solid var(--off-black);
    border-radius: 0.5em;
    display: inline-flex;
    padding: 0.7em 2em;
    transition: all .14s ease-out;
    font-size: 1em;
    display: flex;
    justify-content: center;
    font-size: 1.1em;
}

ul:first-of-type button {
    width: 10em;
}

ul:last-of-type button {
    width: 15em;
}


button:hover {
    box-shadow: 0.3em 0.3em 0 var(--off-black);
    transform: translate(-0.3em,-0.3em);
}

/* ----------------------------------------- */

/* ------------- Prediction table ------------- */

aside {
    font-size: 1.5em;
    border: 0.05em solid var(--off-black);
    padding: 0.7em;
    grid-area: pred;
    width: 11em;
    margin: 2em;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    scale: 1.1;
}

table {
    margin-top: 1em;
}

th, td {
    border: 0.05em solid var(--off-black);
    padding: 0.3em;
}

/* ----------------------------------------- */
